{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>theDay</title>
  <meta charset="UTF-8">
  <link rel="icon" href="{% static 'img/logo.png'%}" type="image/png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
  body,h1,h2{font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  p {line-height: 2}
  .bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  .bgimg {background-image: url("{% static 'img/wedding_couple.jpg'%}")}
  .bgimg2 {background-image: url("{% static 'img/flowers.jpg'%}")}
  </style>
  <script type='text/javascript'>
    window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '1bd8b84e8c805caf3875e822c5cc4a791a59041e');
  </script>
</head>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">{{event.names}}</h1>
    <h2>Are getting married</h2>
    <h2><b>{{ event.date }}</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="/" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="#us" style="width:25%" class="w3-bar-item w3-button">{{event.names}}</a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a>
    <a href="#rsvp" style="width:25%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
  </div>
</div><!-- Navbar (sticky bottom)
 <div class="w3-top">
  <div class="w3-bar w3-pale-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-pale-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    {% if user.is_authenticated %}
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Profile</a>
    {% else %}
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
    {% endif %}
  </div>
-->
<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>{{ event.names }}</b></h1>
    <img class="w3-round w3-grayscale-min" src="{{event.picture_url}}" style="width:100%;margin:32px 0">
    <p><i>{{event.our_story}}</i>
    </p><br>
    <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding Details</a></p>
  </div>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">You Are Invited</h1><br>
    <h2>Of course..</h2>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
    <img class="w3-round-large w3-grayscale-min" src="{% static 'img/wedding_location.jpg'%}" style="width:100%;margin:64px 0">
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>Wedding Ceremony - {{ event.when }}</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>{{event.where}}</p>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <h1>HOPE YOU CAN MAKE IT!</h1>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>
  </p>
</div>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">CAN YOU COME?</h1>
      <p>We really hope you can make it.</p>
      <p><i>Sincerely, {{event.names}}</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <a href="/accept/{{event.id}}" type="button" class="w3-button w3-block w3-green">Going</a>
        </div>
        <div class="w3-half">
          <a onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't come</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <div id="google_translate_element"></div>
  <p>Powered by theDay Team </p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
