<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>theDay</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/logo.png'%}" type="image/png"/>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2{font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  p {line-height: 2}
  .bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  </style>
  <script type='text/javascript'>
    window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '20ece0ced56f0b8877a6a719047065b5e0f6f036');
  </script>
</head>
<body>

<!-- Navbar -->
<div class="w3-display-container">
  <div class="w3-bar w3-pale-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-pale-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    {% if user.is_authenticated %}
      <a href="/my" class="w3-bar-item w3-button w3-padding-large w3-white">Profile</a>
      <a href="/new_event" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">New Event</a>
      <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log Out</a>
    {% else %}
      <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
      <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
    {% endif %}
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    {% if user.is_authenticated %}
      <a href="/my" class="w3-bar-item w3-button w3-padding-large">Profile</a>
      <a href="/new_event" class="w3-bar-item w3-button w3-padding-large">New Event</a>
      <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Log Out</a>
    {% else %}
      <a href="/login" class="w3-bar-item w3-button w3-padding-large">Login</a>
      <a href="/register" class="w3-bar-item w3-button w3-padding-large">Register</a>
    {% endif %}
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-pale-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">theDay</h1>
  {% if user.is_authenticated %}
    <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/new_event">Get Started</a>
  {% else %}
    <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" href="/login">Get Started</a>
  {% endif %}
</header>

<footer class="w3-container w3-padding-64 w3-center w3-opacity">
 <div id="google_translate_element"></div>
 <p>Powered by theDay Team</a></p>
</footer>


<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
