{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>theDay</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2{font-family: "Raleway", sans-serif}
  body, html {height: 100%}
  p {line-height: 2}
  .bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
  </style>
  <script type='text/javascript'>
    window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '1bd8b84e8c805caf3875e822c5cc4a791a59041e');
  </script>
</head>
<body>

  <div class="w3-top">
    <div class="w3-bar w3-pale-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-pale-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      {% if user.is_authenticated %}
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="/my" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Profile</a>
        <a href="/edit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Edit Profile</a>
        <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Log Out</a>
      {% else %}
        <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
        <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
      {% endif %}
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      {% if user.is_authenticated %}
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
        <a href="/my" class="w3-bar-item w3-button w3-padding-large">Profile</a>
        <a href="/edit" class="w3-bar-item w3-button w3-padding-large">Edit Profile</a>
        <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Log Out</a>
      {% else %}
        <a href="/login" class="w3-bar-item w3-button w3-padding-large">Login</a>
        <a href="/register" class="w3-bar-item w3-button w3-padding-large">Register</a>
      {% endif %}
    </div>
  </div>

  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3-row-padding w3-padding-16 w3-center">
      {% if user.is_authenticated %}
        <form class="feedback-section" action="" method="post">
            {% csrf_token %}
            <h3> Create Event Form </h3>
            <p align="left"> Your Names: </p>
            <p align="left">  {{ form.names }} </p>
            <p align="left"> Date and Time: </p>
            <p align="left"> <!--  <input type="date" class="form-control" id="date"> --> {{form.date}} {{ form.when }} </p>
            <p align="left"> Venue: </p>
            <p align="left">  {{ form.where }} </p>
            <p align="left"> About Us: </p>
            <p align="left">  {{ form.our_story }} </p>
            <p align="left"> Our photo: </p>
            <p align="left">  {{ form.picture_url }} </p>
            <p align="left"> <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type="submit" value="Create"> </p>
        </form>
        {% endif %}
    </div>
  </div>

  <footer class="w3-container w3-padding-64 w3-center w3-opacity">
   <p>Powered by theDay Team</a></p>
  </footer>

  <script>
  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
  </script>

  </body>
</html>
