{% load static %}
<!DOCTYPE html>
<html>
<title>theDay</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.bgimg {background-image: url("{% static 'img/wedding_couple.jpg'%}")}
.bgimg2 {background-image: url("{% static 'img/flowers.jpg'%}")}
</style>
<body>

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">{{event.names}}</h1>
    <h2>Are getting married</h2>
    <h2><b>{{ event.date }}</b></h2>
  </div>
</header>

<!-- Navbar (sticky bottom) -->
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="/" style="width:25%" class="w3-bar-item w3-button">Home</a>
    <a href="#us" style="width:25%" class="w3-bar-item w3-button">{{event.names}}</a>
    <a href="#wedding" style="width:25%" class="w3-bar-item w3-button">Wedding</a>
    <a href="#list" style="width:25%" class="w3-bar-item w3-button w3-hover-black">Guests List</a>
  </div>
</div><!-- Navbar (sticky bottom)
 <div class="w3-top">
  <div class="w3-bar w3-pale-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-pale-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    {% if user.is_authenticated %}
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Profile</a>
    {% else %}
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Login</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Register</a>
    {% endif %}
  </div>
-->
<!-- About / Jane And John -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-grey"><b>{{ event.names }}</b></h1>
    <img class="w3-round w3-grayscale-min" src="{{event.picture_url}}" style="width:100%;margin:32px 0">
    <p><i>{{event.our_story}}</i>
    </p><br>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey"><b>THE WEDDING</b></h1>
    <img class="w3-round-large w3-grayscale-min" src="{% static 'img/wedding_location.jpg'%}" style="width:100%;margin:64px 0">
    <div class="w3-row">
      <div class="w3-half">
        <h2>When</h2>
        <p>Wedding Ceremony - {{ event.when }}</p>
      </div>
      <div class="w3-half">
        <h2>Where</h2>
        <p>{{event.where}}</p>
      </div>
    </div>
  </div>
</div>

<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center" id="list">
  <h2>Guests List</h2>
  {% for user in users %}
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
      <img  src="{{user.picture_url}}" alt="Avatar" class="w3-center w3-circle" style="width:60px; height:60px;">
      <h4>{{ user.user.first_name }} {{ user.user.last_name }}</h4><br>
      <hr class="w3-clear">
      <p> {{user.interests_description}} </p>
      <a type="button" class="w3-button w3-pale-red w3-margin-bottom" href="/user/{{user.user_id}}"><i class="fa fa-user"></i>  View Profile </a>
  </div>
  {% endfor %}
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by theDay Team</a></p>
</footer>
<div class="w3-hide-small" style="margin-bottom:32px"> </div>

</body>
</html>
